<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
<body>
 	<form novalidate class="simple-form" action="calendar-event">
    		<label>StartDate: <input name ="startDate" id="startDate" /></label><br />
    		<label>EndDate  : <input name  ="endDate" id="endDate" /></label><br />
    		<input type="submit" ng-click="update(user)" value="submit" />
  	</form> 	
</body>
</html>